
@{
    ViewData["Title"] = "Create User";
}
@using PromotionsWebApp.Domain.Entities
@using PromotionsWebApp.Domain.Abstract
@using PromotionsWebApp.Models
@model UserVM
<form asp-action="Create" asp-controller="Account" method="post" role="form" class="center-align">
    <div class="row z-depth-2">
        <h4 class="center-align">New User Details</h4>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12">
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <div class="red-text" asp-validation-summary="All"></div>
                <div class="row">
                    <div class="input-field col s10">
                        <Label class="select-label active">Title</Label>
                        <select class="normalSelect" asp-for="Title" asp-items="Html.GetEnumSelectList<TitleEnum>()">
                            <option disabled selected="selected" value="">Please select Title</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        @Html.LabelFor(model => model.FirstName)
                        <input type="text" class="validate" asp-for="FirstName" />
                        <span asp-validation-for="FirstName" class="red-text text-darken-2" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        @Html.LabelFor(model => model.Surname)
                        <input type="text" class="validate" asp-for="Surname" />
                        <span asp-validation-for="Surname" class="red-text text-darken-2" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <Label class="select-label active">Role</Label>
                        <select class="normalSelect" asp-for="Role" asp-items="Html.GetEnumSelectList<UserRoleEnum>()">
                            <option disabled selected="selected" value="">Please select Role</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <Label class="select-label active">Department</Label>
                        <select class="normalSelect" asp-for="Department" asp-items="Html.GetEnumSelectList<DepartmentEnum>()">
                            <option disabled selected="selected" value="">Please select Department</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        @Html.LabelFor(model => model.Email)
                        <input type="text" class="validate" asp-for="Email" />
                        <span asp-validation-for="Email" class="red-text text-darken-2" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        @Html.LabelFor(model => model.Password)
                        <input type="text" class="validate" asp-for="Password" />
                        <span asp-validation-for="Password" class="red-text text-darken-2" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <a class="btn waves-effect waves-light btn-large red lighten-1" asp-action="Index">
                        <span class="material-icons md-dark md-24 matIcon">
                            cancel
                        </span>
                        <span class="black-text">Cancel</span>
                    </a>
                    <button type="submit" name="cmdButton" class="btn waves-effect waves-light btn-large green lighten-1">
                        <span class="material-icons md-dark md-24 matIcon">
                            send
                        </span>
                        <span class="black-text">Submit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</form>
@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
}